<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Open+Sans:ital,wght@0,300;0,400;1,400;1,700&display=swap" rel="stylesheet">
    <title>RedFilms</title>
    <link rel="stylesheet" href="/stylesheets/peliculas.css">
</head>
<body>
    <header>
        <div class="holder">
            <img src="/images/logoHome.png" class="logo" width="100" alt="RedFilms">
            <h1 class="textLogo">RedFilms</h1></a>
        </div>

    </header>

    {{{body}}}
    
    <footer>
        <p class="textoFooter">Desarrollador: Thiago D'alessandro</p>
    </footer>
</body>
</html>